@import url('https://fonts.googleapis.com/css2?family=Squada+One&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Klima";
    src: url("/fonts/klima/klima-regular.otf") format('opentype');
}

@layer base{
    html{
        @apply bg-surface-color;
        @apply text-dark-text;
    }
}

@layer utilities{
    .page-header{
        background: url("/images/green-forest.png");
        background-repeat: no-repeat;
        background-size: cover;

        @apply flex items-center justify-center h-[28.25rem] lg:h-[18.75rem] min-h-[28.25rem] lg:min-h-[18.75rem];
    }

    .section-container{
        @apply p-md py-xl lg:p-xxl;
    }

    .section-container-tear::before{
        content: "";
        height: 70px;
        background: url("/images/page-tear.svg");
        background-repeat-y: no-repeat;
        
        @apply absolute top-0 left-0 right-0 -translate-y-[40%] lg:-translate-y-[4%];
    }
    
    .section-container-tear::after{
        content: "";
        height: 70px;
        background: url("/images/page-tear-bottom.svg");
        background-repeat-y: no-repeat;
        
        @apply absolute bottom-0 left-0 right-0 translate-y-1/2 lg:translate-y-2/3;
    }

    .break-word{
        word-break: break-word;
    }
}

@layer components{
    .section-container-tear{
        position: relative;
        @apply z-0;
    }
    
    .button-primary{
        @apply bg-primary hover:bg-accent text-center text-dark-text text-subheading rounded-full py-md px-large transition-colors;
    }
    
    .button-accent{
        @apply bg-accent text-center text-white text-subheading rounded-full py-md px-large transition-colors;
    }

    .nav-link{
        position: relative;
        @apply inline-flex flex-col;
    }

    .nav-link.active{
        @apply text-secondary;
    }

    .nav-link.active::after{
        content: "";
        position: absolute;
        top: 100%;
        height: 0.3rem;
        width: 4rem;

        @apply bg-primary mt-1;
    }

    .footer-section{
        background: url("/images/footer-bg.png");
        background-repeat: no-repeat;
        background-size: cover;
    }

    .hero-slides .swiper-pagination{
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        width: unset !important;
        transform: translateY(-50%);
        top: 50% !important;
        left: unset !important;
        right: 2rem;
    }

    .slide_pagination{
        position: relative;
        height: 0.75rem !important;
        width: 0.75rem !important;
        aspect-ratio: 1/1 !important;
        background-color: #FDFAF3 !important;
        opacity: 0.5 !important;
    }

    .slide_pagination.swiper-pagination-bullet-active{
        opacity: 1 !important;
    }

    .slide_pagination.swiper-pagination-bullet-active::before{
        content: "";
        position: absolute;
        top: -4px;
        left: -4px;
        right: -4px;
        bottom: -4px;
        z-index: -1;
        border: 1px solid #FDFAF3;
        border-radius: 50%;
    }
}

.vision-mission-container .vision{
    background: url("/images/vision.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.vision-mission-container .mission{
    background-image: url("/images/mission.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.vision-mission-container .vision .overlay{
    background-color: #FED04999;
}

.vision-mission-container .mission .overlay{
    background-color: #3D565699;
}

.our-sponsors-section{
    background: url("/images/paper-bg.png");
    background-size: cover;
}

.donate-thanks-container > .donate-thanks-img{
    background: url("/images/slide-bg_1.png");
    background-size: cover;
    background-repeat: no-repeat;
}